@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inconsolata");

.loginPage {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 50px 100px 0px 100px;
  background-color: #fffaff;
  height: calc(100vh - 150px);
  min-width: 900px;
}

#loginIconSection {
  width: 30%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#loginFormSection {
  height: 400px;
  width: 30%;
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.loginTitle {
  display: flex;
  font-size: 36px;
  font-family: "Inconsolata";
}
