@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.outerSearchContainer {
  height: 50px;
  width: 600px;
  margin-left: 0px;
}

#navOuterSearchContainer {
  height: 40px;
  width: 500px;
  margin-left: 20px;
}

.searchContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: visible;
}

.filterContainer {
  width: 21%;
  height: 255px;
  display: flex;
  flex-direction: column;
}

.filterText {
  font-family: Montserrat;
  font-size: 18px;
  color: #fffaff;
  margin: 0;
}

.filterButton {
  width: 100%;
  background-color: #d8315b;
  border-radius: 9999px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  border: 0px;
  outline: none;
  height: 50px;
}

#navFilterButton {
  height: 40px;
  font-size: 16px;
}

.searchDropdown {
  width: 150px;
  height: 180px;
  margin-top: 5px;
  background-color: #d8315b;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
  z-index: 500;
}

.searchDropdownCell {
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
  padding: 0px 0px 0px 15px;
  background-color: transparent;
  border: 0px;
  outline: none;
}

.searchDropdownCell:hover {
  background-color: #e26584;
}

.searchCellWithBorder {
  border-bottom: 1px solid #fffaff;
}

.searchBar {
  height: 100%;
  width: 75%;
  background: #fffaff;
  box-sizing: border-box;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 3px solid #3e92cc;
}

#navSearchBar {
  border: 2px solid #3e92cc;
}

.searchBarPrompt {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 34px;
  color: #1e1b18;
  opacity: 70%;
  background-color: transparent;

  position: relative;
  left: 5%;
  border: none;
}

#navSearchBarPrompt {
  font-size: 17px;
}

input:focus,
textarea:focus {
  outline: none;
}

.searchButton {
  background-color: #3e92cc;
  position: relative;
  right: 1%;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0px;
  outline: none;
  width: 37px;
  height: 37px;
  font-size: 11px;
}

#navSearchButton {
  width: 30px;
  height: 30px;
  font-size: 9px;
}

.searchButton:active,
.filterButton:active {
  opacity: 70%;
}

#searchErrorMessage {
  margin: 5px 0px 0px 30%;
  font-family: Montserrat;
  font-size: 14px;
  color: #e26584;
  opacity: 80%;
}
