@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.searchRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  min-width: 875px;
  margin-left: 10%;
  font-family: Montserrat;
  border-bottom: 1px solid black;
}

.bookImgContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 25%;
}

.bookImg {
  width: 150px;
  max-width: 150px;
  height: auto;
  border-radius: 15px;
  margin: 15px 0px 15px 0px;
}

.bookDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 0px;
  width: 25%;
}

.titleTxt {
  font-size: 2.2em;
  text-align: center;
  margin: 0;
}

.authorTxt {
  font-size: 1.2em;
  text-align: center;
  color: #d8315b;
  margin-top: 5px;
}

.byTxt {
  color: #1e1b18;
}

.conditionTxt {
  font-size: 1.8em;
  text-align: center;
  margin: 0;
}

.condWord {
  font-weight: 700;
}

.swapDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  width: 25%;
}

.giverTxt {
  font-size: 1.5em;
  margin: 0px 0px 20px 0px;
}

.costTxt {
  font-size: 2em;
  font-weight: 700;
  margin: 0;
}

.infoButtonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
}

.infoButton {
  height: 100px;
  width: 150px;
  border-radius: 30px;
  border: none;
  background-color: #0a2463;
  color: #fffaff;
  font-family: Inconsolata;
  font-size: 1.5em;
  cursor: pointer;
}

.infoButton:hover {
  background-color: #224391;
}

.infoButton:active {
  background-color: #4869b8;
}
