@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");

.navBarContainer {
  width: 100%;
  height: 81px;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navBarLeftSection {
  padding-left: 73px;
  background-color: green;
}

.navBarRightSection {
  padding-right: 73px;
  display: flex;
  flex-direction: row;
  background-color: green;
  justify-content: space-between;
  width: 35%;
}

.navBarHeader {
  font-family: Inconsolata;
  font-size: 60px;
  margin: 0;
}

.navBarOption {
    font-family: Inconsolata;
    font-size: 18px;
    /* margin: 0px 0px 0px 80px; */
}
