@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");

.navBarOption {
  font-family: Inconsolata;
  font-size: 18px;
}

.navBarOption a {
  color: #1e1b18;
  text-decoration: none;
}

.navBarHeader {
  font-family: Inconsolata;
  font-size: 50px;
  margin: 0;
  color: #1e1b18;
  text-decoration: none;
}

.navBarHeader a {
  color: #1e1b18;
  text-decoration: none;
}
