@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.bookPage {
  width: 100%;
  min-width: 780px;
}

.upperPageSection {
  display: flex;
  flex-direction: row;
  height: 400px;
}

/* Book Cover Section */

.bookCoverContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 47%;
  padding-right: 3%;
}

#bookCover {
  height: 350px;
}

/* Book Data Section */

.bookDataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 47%;
  padding-left: 3%;
}

.dataContainer {
  display: flex;
  width: 90%;
  justify-content: flex-start;
  align-content: center;
}

#bookTitle {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  color: #000000;
  margin: 10px 0px 10px 0px;
  text-align: center;
}

#bookAuthor {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  margin: 10px 0px 10px 0px;
  color: #d8315b;
  text-align: center;
}

.bookInfoText {
  font-family: Inconsolata;
  font-size: 16px;
  color: #000000;
  margin: 10px 0px 10px 0px;
  text-align: center;
}

#proposeContainer {
  width: 70%;
  margin: 10px 0px 10px 0px;
  align-self: flex-start;
}

/* Table Section */

#lowerPageSection {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

#availableTable {
  width: 90%;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  overflow: hidden;
}

.tableRow {
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.tableCell {
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.borderRight {
  border-right: 2px solid rgba(0, 0, 0, 0.3);
}

.borderBottom {
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.totalCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cellText {
  margin-left: 10px;
  font-family: Inconsolata;
  font-size: 16px;
  color: #000000;
}

.headerCell {
  text-align: center;
  font-weight: 600;
}
