@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.searchControl {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 10% 0 10%;
  font-family: Montserrat;
  font-size: 1.2em;
  /* position: relative; */
  /* height: 50px; */
  /* right: 0; */
  overflow: visible;
  max-height: 61px;
}

.nowShowing {
  display: flex;
}

.sortLabel {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.sortContainer {
  /* width: 40%; */
  min-width: 350px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  z-index: 1000;
  /* align-items: center; */
}
