@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inconsolata");

.loginPage {
  display: flex;
  background-color: #fffaff;
  font-family: 'Montserrat';
  height: 100%;
}

.loginFlow{
  display:flex;
  flex:1;
  flex-wrap:wrap;
  flex-direction: column;
}
.loginForm {
  display:flex;
  flex: 0 0 100%;
  flex-wrap: wrap;
}

.title {
  display: flex;
  flex: 0 0 100%;
  font-size: 3em;
  font-family: 'Inconsolata';
}

.links {
  display: flex;
  flex: 0 0 100%;
  flex-direction: column;
  margin-top: 0%;
  font-size: 1em;
  font-family: 'Inconsolata';
  color: #0A2463;
}

.labels{
  display: flex;
  flex: 0 0 100%;
  flex-direction: column;
}

input:focus{
    outline-width:0;
}

#regIcon{  
  display:flex;
  flex:1;
}

img{
    max-width: 90%;
    height:auto;
}

#submitReg{
  display: flex;
  flex: 0 0 100%;
    width: 200px;
    background-color: #D8315B ;
    color: #fffaff;
    text-align: left;
}
