@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inconsolata");

.App {
  font-family: 'Montserrat';
}

html,
body,
#app,
#app > div {
  margin: 0;
}

.big {
  display: grid;
  background-color: #fffaff;
  height: 100vh;
  grid-template-columns: 5% 45% auto;
  grid-template-rows: 17% 10% auto;
  margin: 0;
}

.form {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

ul {
  list-style: none;
  padding-left: 20px;
  font-size: 1.4em;
}

.req {
  text-align: left;
}

h1 {
  margin: 50px 0 0 60px;
  font-size: 6em;
  font-family: 'Inconsolata';
}

input:focus{
    outline-width:0;
}

.field {
    background-color: #fffaff;
  display: block;
  margin: 2%;
  height: 40px;
  border-radius: 20px;
  padding-left: 30px;
  width: 59%;
  font-size: 2em;
  font-family:montserrat;
  border: 1px solid #1E1B18;
 
}

#regIcon{
    
grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

img{
    max-width: 90%;
    height:auto;
}
select{
    
    color:rgba(12,11,9,.5);
}

option{
    color:rgba(12,11,9,1);
}


#Zip {
    width: 25%;
    display: inline;
}

#submitReg{
    width: 25%;
    background-color: #D8315B ;
    color: #fffaff;
    margin-left: 36%;
    text-align: center;
    
}

#State {
height: 40px;
width: 30%;
display: inline;
}
