@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");

.pageBody {
  display: flex;
  width: 100%;
  height: 80vh;
  flex-direction: row;
  align-items: center;
}

/* Profile Info Section (Left Column) */

.profileInfoSection {
  width: 28%;
  height: 95%;
  margin-left: 3%;
  background-color: red;
  min-width: 220px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileHeader {
  width: 85%;
  margin-top: 5%;
  padding-bottom: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid rgba(30, 27, 24, 0.5);
}

.avatarProfile {
  height: 200px;
  width: 200px;
  max-width: 200px;
  min-width: 200px;
  margin-top: 4%;
  margin-bottom: 2%;
}

.profileFooter {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 4%;
  padding-bottom: 5%;
}

.profileInfoRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}

.profileInfo {
  font-family: Inconsolata;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #000000;
}

.profileEmail {
  font-family: Inconsolata;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.55);
  margin-top: 0;
}

/* Library Section (Right Column) */

.librarySection {
  width: 69%;
  height: 85%;
  background-color: green;
  display: flex;
  flex-direction: column;
}

.libraryRow {
  height: 50%;
  width: 100%;
  background-color: blue;
}
