@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inconsolata");

/* Whole Page */

.registerPage {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: calc(100vh - 150px);
  min-width: 900px;
  padding: 0px 100px 0px 100px;
  background-color: #fffaff;
}

/* Icon Container */

#regIconSection {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#regIcon {
  width: 150%;
  height: auto;
}

/* Form Container */

#regFormSection {
  width: 30%;
  display: flex;
  justify-self: center;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.regTitle {
  display: flex;
  font-size: 36px;
  font-family: "Inconsolata";
}
